{% schema %}
{
	"name": "Header",
	"settings": [
		{
			"type": "url",
			"id": "logo_url",
			"label": "Logo URL"
		},
		{
			"type": "link_list",
			"id": "menu",
			"label": "Menu"
		},
		{
			"type": "link_list",
			"id": "menu_secondary",
			"label": "Menu (Secondary)"
		},
		{
			"type": "url",
			"id": "account_url",
			"label": "Account URL"
		},
		{
			"type": "url",
			"id": "cart_url",
			"label": "Cart URL"
		}
	]
}
{% endschema %}

<header class="fixed z-5 top-[15px] left-2 md:left-5 right-0">
	<div class="flex justify-between gap-half 2xs:gap-1 xs:gap-[15px]">
		<div class="flex-grow flex-shrink-0">
			<div class="bg-white rounded-[25px] overflow-hidden">
				<div class="min-h-5 flex items-center justify-between pl-[25px] lg:pr-2">
					<a href="{{ section.settings.logo_url }}" class="block">
						<svg width="192" height="45" viewBox="0 0 192 45" class="block w-[80px] h-[18px] 2xs:w-[107px] 2xs:h-[25px]">
							<path
								d="M0 36.0173H10.6273C14.7626 36.0173 17.3416 33.5272 17.3416 28.547V8.04829H8.35956V0H18.5867C23.0333 0 26.5905 3.60173 26.5905 8.00384V29.1695C26.5905 39.1743 21.6993 44.199 12.1391 44.199H0V36.0173Z"
								fill="currentColor"
							/>
							<path
								d="M29.168 26.7681C29.168 16.0963 36.6382 8.53711 47.5768 8.53711C58.5598 8.53711 66.1635 16.0518 66.1635 26.7681C66.1635 37.4843 58.6488 44.999 47.5768 44.999C36.5938 44.999 29.168 37.4399 29.168 26.7681ZM47.6213 36.9507C52.468 36.9507 57.0925 33.4379 57.0925 26.7681C57.0925 20.0537 52.4236 16.5854 47.6213 16.5854C42.8634 16.5854 38.3724 20.0537 38.3724 26.7681C38.3279 33.4379 42.8634 36.9507 47.6213 36.9507Z"
								fill="currentColor"
							/>
							<path
								d="M111.787 9.29297H120.68V17.1634H114.588C112.854 17.1634 111.431 18.5863 111.431 20.3205V44.1986H102.449V18.7642C102.494 12.4056 105.651 9.29297 111.787 9.29297Z"
								fill="currentColor"
							/>
							<path
								d="M154.738 26.8134C154.738 16.6753 161.853 8.62695 172.169 8.62695C177.06 8.62695 180.351 11.117 182.663 13.4737V9.29394H191.556V44.244H182.663V40.0642C180.351 42.5543 177.016 44.9999 172.169 44.9999C161.808 44.9555 154.738 36.9072 154.738 26.8134ZM173.236 36.9516C178.216 36.9516 182.485 33.0387 182.485 26.8134C182.485 20.5882 178.172 16.6753 173.236 16.6753C168.034 16.6753 163.943 20.4993 163.943 26.8134C163.943 33.0387 168.078 36.9516 173.236 36.9516Z"
								fill="currentColor"
							/>
							<path
								d="M89.5516 28.4128V9.24805H98.6226V29.7468C98.6226 37.1725 94.6651 44.9985 83.7266 44.9985C72.788 44.9985 68.875 37.1281 68.875 29.7468V9.24805H77.9015V28.4128C77.9015 33.0372 80.3472 35.883 83.771 35.883C87.1949 35.883 89.596 33.0372 89.5516 28.4128Z"
								fill="currentColor"
							/>
							<path
								d="M131.485 25.0779V44.2427H122.414V23.7439C122.414 16.3182 126.372 8.49219 137.31 8.49219C148.249 8.49219 152.162 16.3626 152.162 23.7439V44.2427H143.135V25.0779C143.135 20.4535 140.689 17.6077 137.266 17.6077C133.842 17.5632 131.485 20.409 131.485 25.0779Z"
								fill="currentColor"
							/>
						</svg>
					</a>
					
					<div class="hidden lg:block xl:pl-8">
						<ul class="flex gap-3 xl:gap-5 items-center">
							{% for link in section.settings.menu.links %}
								<li>
									<a
										href="{{ link.url }}"
										class="link-dot-sans font-sans font-600 text-15/15 uppercase tracking-tight">
										{{ link.title }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>

					<div class="hidden lg:block">
						<ul className="flex gap-2 items-center">
							{% for link in section.settings.menu_secondary.links %}
								<li>
									<a
										href="{{ link.url }}"
										class="link-dot active">
										<span class="link-underline-hover">
											{{ link.title }}
										</span>
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	
		<a href="{{ section.settings.account_url }}" class="button button-header">
			<div class="h-5 flex flex-col justify-center items-center">
				<svg width="19" height="22" viewBox="0 0 19 22" class="block">
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M9.45383 1.00047C9.90994 0.996565 10.1183 1.0161 10.4958 1.09033C10.7553 1.14112 11.1092 1.23098 11.2822 1.28958C11.4552 1.34819 11.7383 1.46149 11.9113 1.54353C12.0843 1.62558 12.395 1.80139 12.5994 1.93813C12.8314 2.0905 13.146 2.35227 13.4291 2.63356C13.7437 2.94612 13.9678 3.21179 14.1565 3.49699C14.3059 3.7236 14.5025 4.07522 14.593 4.27838C14.6834 4.48154 14.8014 4.80581 14.8603 5.00116C14.9154 5.1965 14.9862 5.50906 15.0176 5.7044C15.0491 5.89975 15.0766 6.28263 15.0766 6.56393C15.0766 6.84523 15.0491 7.23201 15.0176 7.42345C14.9862 7.61489 14.9154 7.93526 14.8603 8.1267C14.8014 8.31813 14.6637 8.66976 14.5497 8.90808C14.4357 9.1464 14.247 9.47849 14.1329 9.65039C14.015 9.8223 13.8144 10.0841 13.6807 10.2364C13.551 10.3849 13.3111 10.6193 13.1499 10.7561C12.9887 10.8928 12.7213 11.092 12.5601 11.2014C12.3989 11.3069 12.104 11.471 11.9113 11.5648C11.7187 11.6546 11.3884 11.7836 11.1839 11.85C10.9795 11.9125 10.6334 11.9985 10.4172 12.0336C10.1813 12.0727 9.80771 12.1 9.49315 12.1C9.17466 12.1 8.80505 12.0727 8.56913 12.0336C8.35287 11.9945 7.99112 11.9047 7.76306 11.8305C7.53501 11.7562 7.18899 11.6156 6.99632 11.5179C6.80365 11.4202 6.53628 11.2679 6.40652 11.1819C6.27676 11.096 6.02118 10.9006 5.84031 10.7482C5.6555 10.5959 5.38813 10.3302 5.24264 10.1583C5.10109 9.98639 4.90056 9.72072 4.80619 9.57226C4.70789 9.42379 4.5624 9.16594 4.47983 9.00575C4.39726 8.84557 4.26357 8.50957 4.181 8.26344C4.10236 8.0173 4.00406 7.6227 3.96474 7.38438C3.91362 7.05229 3.90576 6.81397 3.92149 6.34905C3.93328 6.01696 3.9726 5.61064 4.00799 5.45045C4.04338 5.29027 4.12595 4.99725 4.18886 4.80581C4.25571 4.61047 4.3776 4.31354 4.46017 4.14164C4.54274 3.96973 4.71969 3.66108 4.85731 3.45792C4.99493 3.25477 5.27017 2.92268 5.46284 2.71952C5.6555 2.52026 5.96613 2.24287 6.15094 2.10222C6.33574 1.96548 6.71322 1.74279 6.99632 1.60214C7.27943 1.4654 7.62151 1.31693 7.76306 1.27005C7.90462 1.22317 8.21131 1.14503 8.45117 1.09424C8.77752 1.02782 9.02131 1.00438 9.45383 1.00047ZM8.35287 3.2157C8.23491 3.25477 7.98719 3.36807 7.80238 3.46183C7.62151 3.5556 7.33841 3.74704 7.17719 3.88769C7.01598 4.02834 6.78792 4.26275 6.6739 4.41512C6.55987 4.56358 6.39472 4.82925 6.30822 5.00116C6.22565 5.17306 6.11555 5.45436 6.06443 5.62627C5.98973 5.89194 5.974 6.03259 5.974 6.54439C5.974 7.01322 5.98973 7.21248 6.04871 7.42345C6.08803 7.57191 6.19026 7.8454 6.27676 8.02902C6.36327 8.21265 6.50875 8.4666 6.59919 8.59553C6.69356 8.72445 6.87443 8.93152 7.00025 9.06045C7.13001 9.18547 7.33054 9.35347 7.4485 9.43551C7.56646 9.51756 7.79059 9.64649 7.94 9.72072C8.08942 9.79495 8.32927 9.89262 8.47083 9.9356C8.61238 9.97858 8.90335 10.0333 9.11961 10.0606C9.41844 10.0919 9.60325 10.0958 9.88635 10.0606C10.0908 10.0372 10.4211 9.96295 10.6138 9.90044C10.8064 9.83402 11.0817 9.71681 11.2232 9.63867C11.3648 9.56054 11.6007 9.39644 11.7541 9.27142C11.9074 9.15031 12.1079 8.95106 12.2062 8.83385C12.3045 8.71273 12.45 8.50567 12.5326 8.37283C12.6152 8.23609 12.7331 8.00167 12.7921 7.85321C12.855 7.70084 12.9337 7.44298 12.9691 7.27499C13.0044 7.10699 13.032 6.78271 13.032 6.54439C13.032 6.30607 13.0044 5.98961 12.973 5.84115C12.9415 5.68878 12.859 5.42311 12.7882 5.24339C12.7213 5.06758 12.5641 4.77456 12.4382 4.59093C12.3163 4.40731 12.0922 4.14554 11.9467 4.0088C11.7973 3.86815 11.5535 3.67671 11.4002 3.57904C11.2468 3.48137 11.0188 3.36025 10.889 3.30946C10.7593 3.25477 10.5312 3.17663 10.3779 3.13756C10.2009 3.08677 9.9296 3.05551 9.61111 3.04379C9.28869 3.03598 9.02524 3.0477 8.84437 3.08286C8.69495 3.11412 8.47083 3.17272 8.35287 3.2157ZM9.76839 12.7837C9.97286 12.7916 10.311 12.815 10.5155 12.8384C10.7199 12.8619 11.0502 12.9127 11.2429 12.9517C11.4356 12.9947 11.758 13.0729 11.9507 13.1276C12.1433 13.1823 12.4658 13.2916 12.6584 13.3698C12.8511 13.444 13.2168 13.612 13.4645 13.7409C13.7122 13.8699 14.0779 14.0808 14.2705 14.2098C14.4632 14.3387 14.7581 14.5536 14.9193 14.6864C15.0805 14.8153 15.3833 15.0888 15.5878 15.2959C15.7922 15.4991 16.1029 15.8546 16.2759 16.0812C16.4489 16.3117 16.7005 16.6789 16.8342 16.9016C16.9679 17.1243 17.1566 17.4838 17.251 17.6987C17.3493 17.9135 17.4869 18.273 17.5656 18.4996C17.6403 18.7262 17.7386 19.0856 17.7818 19.3005C17.829 19.5154 17.8919 19.9022 17.9234 20.16C17.9588 20.4179 17.9863 20.7109 17.9863 21H15.9417L15.9181 20.6757C15.9063 20.4999 15.8709 20.1952 15.8394 20.0037C15.808 19.8084 15.7451 19.5193 15.6979 19.3591C15.6546 19.1989 15.5563 18.9176 15.4816 18.734C15.4069 18.5504 15.285 18.2886 15.2064 18.1479C15.1277 18.0073 14.9547 17.7377 14.825 17.5424C14.6913 17.3509 14.416 17.0188 14.2116 16.804C14.0071 16.593 13.6965 16.3078 13.5235 16.175C13.3505 16.0421 13.087 15.8546 12.9337 15.7647C12.7803 15.671 12.4972 15.5186 12.3045 15.4287C12.1119 15.335 11.7894 15.2099 11.5968 15.1435C11.4041 15.0771 11.0738 14.9912 10.8694 14.9482C10.6649 14.9052 10.2756 14.8466 10.0043 14.8232C9.63863 14.7919 9.38305 14.7919 9.00165 14.8232C8.71854 14.8466 8.32141 14.9052 8.11695 14.9482C7.91248 14.9912 7.58219 15.0771 7.38952 15.1435C7.19685 15.2099 6.84297 15.3545 6.60312 15.4717C6.36327 15.585 6.04477 15.7647 5.89536 15.8624C5.74594 15.964 5.49822 16.1476 5.34881 16.2687C5.19939 16.3898 4.92415 16.6438 4.73935 16.8391C4.55454 17.0306 4.27144 17.3822 4.11022 17.6205C3.95294 17.8549 3.74455 18.2066 3.65411 18.4019C3.56367 18.5933 3.43392 18.9098 3.36707 19.1051C3.30416 19.2966 3.22159 19.5974 3.1862 19.7693C3.15081 19.9412 3.10363 20.2577 3.08397 20.4726C3.06431 20.6874 3.04465 20.8945 3.04465 20.9297C3.04465 20.9961 2.96994 21 1 21V20.832C1 20.7421 1.02752 20.4491 1.05898 20.1795C1.09437 19.91 1.15728 19.5232 1.1966 19.32C1.23985 19.1169 1.33815 18.7535 1.41679 18.5191C1.49543 18.2808 1.64092 17.9135 1.73529 17.6987C1.82965 17.4838 2.01839 17.1243 2.15208 16.9016C2.28577 16.6789 2.53742 16.3117 2.71043 16.0812C2.88343 15.8546 3.20979 15.4834 3.43785 15.2568C3.66591 15.0302 4.05518 14.6942 4.30289 14.5106C4.55061 14.327 4.90449 14.0847 5.08929 13.9754C5.2741 13.866 5.59259 13.698 5.79706 13.6042C6.00152 13.5065 6.33967 13.3698 6.54414 13.2916C6.7486 13.2174 7.09462 13.108 7.31088 13.0533C7.52714 13.0025 7.87316 12.9283 8.07763 12.8931C8.28209 12.8541 8.6635 12.815 8.92301 12.7994C9.18252 12.7837 9.56393 12.7759 9.76839 12.7837Z"
						fill="currentColor"
						stroke="currentColor"
						stroke-width="0.142603"
					/>
				</svg>
			</div>
		</a>

		<a href="{{ section.settings.cart_url }}" class="button button-cart relative h-5 w-[78px]">
			<svg width="78" height="50" viewBox="0 0 78 50" class="button-cart__bg absolute top-0 left-0 w-full h-full">
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M25 50C11.1929 50 -6.03528e-07 38.8071 0 25C6.03528e-07 11.1929 11.1929 0 25 0C33.0867 0 40.2766 3.83954 44.8462 9.79506C49.158 14.126 54.1759 18.3325 59.2 18.3325C65.5333 18.3325 71.8566 11.6482 76.7681 6.45636C76.9133 6.30287 77.0573 6.15067 77.2 6V44C77.0573 43.8493 76.9133 43.6971 76.7681 43.5436C71.8566 38.3518 65.5333 31.6675 59.2 31.6675C54.1759 31.6675 49.158 35.874 44.8462 40.205C40.2766 46.1605 33.0867 50 25 50Z"
					fill="currentColor"
				/>
			</svg>

			<div class="h-5 w-5 flex flex-col justify-center items-center z-1 relative">
				<svg width="20" height="22" viewBox="0 0 20 22" class="block">
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M10.1602 1C13.1914 1 13.293 1 13.5977 1.0782C13.7695 1.12512 14.0156 1.21505 14.1445 1.28543C14.2734 1.35582 14.5039 1.53177 14.6523 1.68426C14.8281 1.86022 14.9766 2.05572 15.0703 2.23167C15.1484 2.38416 15.2344 2.57576 15.2617 2.66178C15.2969 2.77126 15.3203 3.23265 15.3555 5.63343L16.4492 5.65298C17.3984 5.67253 17.5625 5.68426 17.6992 5.74682C17.7852 5.78592 17.9336 5.87586 18.0312 5.94624C18.1289 6.01662 18.2695 6.16129 18.3398 6.26295C18.4141 6.36852 18.5078 6.54839 18.5469 6.66178C18.6055 6.82991 18.6797 7.86217 18.9883 12.6716C19.1914 15.8661 19.3594 18.5992 19.3594 18.7517C19.3594 18.9042 19.3398 19.1193 19.3164 19.2326C19.293 19.3421 19.2148 19.5572 19.1445 19.7097C19.0781 19.8622 18.9414 20.0811 18.8438 20.1984C18.75 20.3157 18.5391 20.5034 18.3789 20.609C18.2148 20.7224 17.9609 20.8475 17.5039 21H2.85547L2.5625 20.9022C2.39844 20.8475 2.14453 20.7224 1.98047 20.609C1.82031 20.5034 1.60938 20.3157 1.51562 20.1984C1.41797 20.0811 1.28906 19.8778 1.23047 19.7488C1.16797 19.6197 1.09375 19.4086 1.05859 19.2796C1.02734 19.1505 1 18.912 1 18.7517C1 18.5914 1.16797 15.8504 1.37109 12.6598C1.67969 7.86217 1.75391 6.82991 1.8125 6.66178C1.85156 6.54839 1.94531 6.36852 2.01953 6.26295C2.08984 6.16129 2.23047 6.01662 2.32812 5.94624C2.42578 5.87195 2.57422 5.78201 2.66016 5.74291C2.79688 5.68035 2.96094 5.66862 5.00391 5.63343L5.02734 4.22581C5.04297 3.24438 5.0625 2.77126 5.09766 2.66178C5.125 2.57576 5.21094 2.38416 5.28906 2.23167C5.375 2.06745 5.53516 1.85239 5.6875 1.6999C5.82812 1.55914 6.05469 1.37928 6.19531 1.30108C6.33594 1.22287 6.58203 1.12512 6.74219 1.08211C7.02344 1.00782 7.17578 1.00391 10.1602 1V1ZM6.86719 2.7478C6.76562 2.82991 6.66406 2.95894 6.59375 3.10362L6.48828 3.32649V5.63343L13.8516 5.65298L13.832 3.24829C13.6445 2.90811 13.5312 2.77517 13.4297 2.70479C13.3359 2.63832 13.2031 2.56403 13.1367 2.53666C13.0469 2.50538 12.25 2.48974 10.1797 2.48974C7.66797 2.48974 7.32812 2.49756 7.19141 2.5523C7.10547 2.58749 6.96094 2.67351 6.86719 2.7478Z"
						fill="currentColor"
						stroke="currentColor"
						stroke-wd="1"
					/>
				</svg>
			</div>
		</a>
	</div>
</header>